body, html{
	position: relative;
}
header{
	position: relative;
	height: 89px;
	background: #dedede;
}
.about{
	background: red;
	height: 200px;
}
footer{
	position: relative;
	bottom: 0;
	height: 120px;
	margin-top: 400px;
	background: #888;
}